body {
    font-family: arial;
    background: no-repeat center fixed;
    background-image: linear-gradient(to bottom right, rgba(0%, 35%, 40%, 1), rgba(0%, 55%, 60%, 1), rgba(0%, 75%, 80%, 1), rgba(0%, 95%, 100%, 1));
    background-size: cover;

}

.div00 {
    background-color: rgba(100%, 100%, 100%, 1);
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.div01 {
    background-color: rgba(100%, 100%, 100%, 1);
    text-align: center;
    
}

.divTable {
    background-image: linear-gradient(to bottom right, rgba(0%, 15%, 20%, 1), rgba(0%, 35%, 40%, 1));

}

table {
    width: 100%;

}

td {
    color: rgba(100%, 100%, 100%, 1);
    font-weight: bold;
    text-align: center;
    padding: 5px 10px 5px 10px;

}

#menuTd {
    color: rgba(100%, 100%, 100%, 1);
    text-decoration: none;

}

#menuTd:hover {
    color: rgba(0%, 55%, 60%, 1);

}

#mainTd {
    text-align: left;
    font-size: x-large;
    width: 80%;

}

h2 {
    color: rgba(100%, 100%, 100%, 1);
    background-image: linear-gradient(to bottom right, rgba(0%, 15%, 20%, 1), rgba(0%, 35%, 40%, 1));
    padding: 5px;

}

h3 {
    color: rgba(0%, 55%, 60%, 1);

}

h4 {
    color: rgba(0%, 15%, 20%, 1);

}

hr {
    width: 500px;
    background-color: rgba(0%, 15%, 20%, 1);
    color: rgba(0%, 15%, 20%, 1);
    border: 0;
    height: 1px;

}

p {
    color: rgba(0%, 15%, 20%, 0.8);
    text-align: justify;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}

#input01 {
    background-image: linear-gradient(to bottom right, rgba(0%, 55%, 60%, 0.25), rgba(0%, 75%, 80%, 0.25));
    border: 0;
    padding: 10px;

}

input::placeholder{
    color: rgba(0%, 15%, 20%, 0.8);
    font-weight: bold;

}


#button01 {
    border: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgba(0%, 15%, 20%, 1), rgba(0%, 35%, 40%, 1));
    color: rgba(100%, 100%, 100%, 1);
    font-weight: bold;

}

#button01:hover {
    color: rgba(0%, 55%, 60%, 1);

}

a {
    color: rgba(0%, 15%, 20%, 1);
    text-decoration: none;

}

a:hover {
    color: rgba(0%, 55%, 60%, 1);

}

ul {
    list-style-type: square;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 0;

}

li {
    color: rgba(0%, 15%, 20%, 0.8);
    text-align: justify;

}

img {
    padding: 5px;

}

img:hover {
    background-image: linear-gradient(to bottom right, rgba(0%, 35%, 40%, 1), rgba(0%, 55%, 60%, 1));

}