body {
    font-family: arial;
    background-color: rgba(0%, 45%, 50%, 0.1);

}

.div00 {
    background-color: rgba(100%, 100%, 100%, 1);
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.div01 {
    background-color: rgba(100%, 100%, 100%, 1);
    text-align: center;
    
}

h2 {
    background-color: rgba(0%, 20%, 25%, 1);
    color: rgba(100%, 100%, 100%, 1);
    padding: 5px;

}

h3 {
    color: rgba(0%, 45%, 50%, 1);

}

h4 {
    color: rgba(0%, 20%, 25%, 1);

}

hr {
    width: 500px;
    background-color: rgba(0%, 20%, 25%, 1);
    color: rgba(0%, 20%, 25%, 1);
    border: 0;
    height: 1px;

}

p {
    color: rgba(0%, 20%, 25%, 0.8);
    text-align: justify;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}

#input01 {
    background-color: rgba(0%, 45%, 50%, 0.1);
    border: 0;
    padding: 10px;

}

input::placeholder{
    color: rgba(0%, 20%, 25%, 0.8);
    font-weight: bold;

}


#button01 {
    border: 0;
    padding: 10px;
    background-color: rgba(0%, 20%, 25%, 1);
    color: white;
    font-weight: bold;

}

#loginHelp01 {
    color: rgba(0%, 20%, 25%, 0.8);

}

ul {
    list-style-type: square;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 0;

}

li {
    color: rgba(0%, 20%, 25%, 0.8);
    text-align: justify;

}

img {
    padding: 5px;

}